{% extends 'store/main.html' %}
{% load static %}

{% block title %}
Checkout
{% endblock %}

{% block body %}
<br>
<h2>Checkout</h2>
<hr>

<div class="row">

    <div class="col-lg-5">
        <div style="border-radius: 10px" class="box-element bg-dark" id="form-wrapper">
            <form id="form">
                {% csrf_token %}
                <div id="user-info">
                    {% if request.user.is_anonymous %}
                    <div class="form-field">
			            <input required class="form-control" type="text" name="name" placeholder="Name..">
		            </div>
		            <div class="form-field">
			            <input required class="form-control" type="email" name="email" placeholder="Email..">
		            </div>
                    {% else %}
                    <p>
                        <strong>
                            Name : {{request.user.first_name}} {{request.user.last_name}}<br>
                            Email : {{request.user.email}}
                        </strong>
                    </p>
                    {% endif %}
                </div>

                <div id="shipping-info">
                    <hr>
                    <h4 style="color: #fffefc">Shipping Information</h4>
                    <hr>
                    <div class="form-field">
                        <textarea rows="3" class="form-control" name="address" placeholder="Address.."></textarea>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>
                </div>
                <hr>
                <input id="form-button" type="submit" class="btn btn-success" value="Continue">
            </form>
        </div>

        <br>
        <div class="box-element hidden" id="payment-info">
            <p style="color: black"><strong>Payment Options</strong></p>
            <hr>
<!--            <button class="btn btn-warning" id="make-payment"><strong>Make payment</strong></button>-->
            <!-- Set up a container element for the button -->
            <div id="paypal-button-container"></div>
        </div>

    </div>

    <div class="col-lg-7">
        <div class="box-element">
            <h4>Order summary</h4>
            <hr>

            {% for order_item in order_items %}

            <div class="cart-row" style="text-align: center">
                <div class="cart-table-border" style="flex:4">{{order_item.product.name}}</div>
                <div class="cart-table-border" style="flex:1">$ {{order_item.product.price|floatformat:2}}</div>
                <div class="cart-table-border" style="flex:1">x {{order_item.quantity}}</div>
                <div style="flex:2">$ {{order_item.get_total|floatformat:2}}</div>
            </div>

            {% endfor %}

            <hr>
            <h4 style="margin: 7px">Total items  : {{total_items}}</h4>
            <h4 style="margin: 7px">Total amount : $ {{total_amount|floatformat:2}}</h4>

            <hr>
            <a href="{% url 'cart' %}" class="btn btn-outline-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
                Back to cart
            </a>
        </div>
    </div>

</div>
<br><br><br><br>

<!-- Include the PayPal JavaScript SDK -->
<!-- Mention Client ID as generated by PayPal instead of 'test' -->
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD&disable-funding=card"></script>

<script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{total_amount|floatformat:2}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    submitFormData();
                    // alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }


        }).render('#paypal-button-container');
</script>

<script>
    var shipping = '{{shipping}}'
    if (shipping == 'False')
    {
        document.getElementById('shipping-info').innerHTML = ''
    }

    // We hide the submit button of the form and reveal the hidden payment options division.
    var form = document.getElementById('form')
    csrftoken = form.getElementsByTagName("input")[0].value

    form.addEventListener('submit', // Event is listened when form is submitted i.e., submit is clicked.
        function(event)
        {
            event.preventDefault() // Prevent default actions of this event.

            document.getElementById('form-button').classList.add('hidden')
            // Add the class of hidden to the submit button once it is clicked.

            document.getElementById('payment-info').classList.remove('hidden')
            // Remove the class of hidden from this payment options division (div) so that it is revealed once the
            // submit button is clicked.

        }
    )

    // Make payment button clicked
    /*
    document.getElementById('make-payment').addEventListener('click',
        function(event)
        {
            submitFormData()
        }
    )
    */

    function submitFormData()
    {
        //console.log('Payment button clicked')
        var total_amount = '{{total_amount|floatformat:2}}'

        if (shipping != 'False')
        {
            var shipping_info = {
                // The form variable is created in the above script and we get get the values of its elements in the
                // following way : form.input_name.value
                'address': form.address.value,
                'city': form.city.value,
                'state': form.state.value,
                'zipcode': form.zipcode.value
            }
        }
        else
        {
            var shipping_info = {
                'address': null,
                'city': null,
                'state': null,
                'zipcode': null
            }
        }

        if (user == 'AnonymousUser')
        {
            var user_info = {
                'name': form.name.value,
                'email': form.email.value,
                'total_amount': total_amount
            }
        }
        else
        {
            var user_info = {
                'name': '{{request.user.first_name}}' + ' {{request.user.last_name}}',
                'email': '{{request.user.email}}',
                'total_amount': total_amount
            }
        }

        console.log('Shipping info : ', shipping_info)
        console.log('User info : ', user_info)

        var url = 'process_order'

        fetch(url,{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({
                'user_info': user_info,
                'shipping_info': shipping_info
            })
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success : ', data)
            alert('Transaction completed')
            window.location.href = '{% url 'store' %}'
        })
    }
</script>
{% endblock %}
